body {
  width: 100vw;
}
/* header */
#header {
  height: 70px;
  z-index: 500;
}
.header_wrap {
  display: flex;
  justify-content: space-between;
  line-height: 70px;
  position: fixed;
  width: 100%;
  background-color: #fff;
}
.header_left {
  margin-left: 2%;
  font-size: 25px;
  font-weight: bold;
}
.header_right ul {
  display: flex;
}
.header_right li {
  list-style: none;
  margin-right: 30px;
  font-weight: bold;
}
.header_right a {
  text-decoration: none;
  color: #000000;
}
.header_right a:hover {
  opacity: 0.8;
}
/* top */
#top {
  background-image: url(../img/mv.png);
  background-size: cover;
  background-position: center;
  padding: 6.5%;
}
.top_title {
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
/* recruit */
.title {
  font-size: 25px;
  font-weight: bold;
  border-bottom:1px solid #000000;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.title_2 {
  margin-top: 80px;
}
.recruit_wrap {
  padding: 5% 20% ;
}
.recruit_content p {
  padding-bottom: 25px;
}
table {
  margin: 0 auto;
  width: 100%;
}
table th,
table td {
  border: 1px solid #000000;
  padding: 15px;
}
table th {
  font-weight: bold;
  background-color: #f5f6f9;
  width: 25%;
}
table td {
  text-align: left;
}
/* contact */
#contact {
  background-color: #f5f6f9;
  padding: 5% 0 2% 0;
}
.contact_wrap {
  display: flex;
  justify-content: center;
}
.contact_message {
  text-align: center;
  line-height: 2;
}
.contact_message h2 {
  font-size: 30px;
}
.contact_message p {
  margin-bottom: 10px;
}
.contact_btn {
  margin: 0;
}
.contact_button {
  padding: 13px 90px;
}
.service_btn {
  text-align: center;
  margin-bottom: 30px;
}
.service_button {
  margin: 30px 0 50px 0;
  background-color: #cd0323;
  padding: 13px 85px;
  border: none;
}
.service_button a {
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.5;
  text-decoration: none;
}
.service_button:hover {
  opacity: 0.8;
}
/* footer */
#footer {
  background-color: #222323;
  color: #fff;
  padding: 1.5% 1%;
}
.footer_wrap {
  display: flex;
  justify-content: space-around;
}
.footer_left {
  font-size: 13px;
}
.footer_right ul {
  display: flex;
}
.footer_right li {
  font-size: 13px;
  list-style: none;
  display: inline;
  list-style-type: none;
  margin-right: 10px;
  padding-left: 10px;
  border-left: 1px solid #999;
  opacity: 0.8;
}
#footer .first_list {
  border-left: none;
  padding-left: 0;
}
.footer_right a {
  color: #fff;
  text-decoration: none;
}
.footer_right a:hover {
  opacity: 0.8;
}
@media screen and (max-width: 768px) {
  /* humberger */
  #humberger {
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    z-index: 999;
    top: 13px;
    right: 25px;
    transition: 0.4s;
  }
  #humberger span {
    position: absolute;
    left: 2px;
    display: block;
    width: 35px;
    height: 3.5px;
    background-color: #000000;
    transition: 0.8s;
  }
  #humberger span:nth-of-type(1) {
    top: 5px;
  }
  #humberger span:nth-of-type(2) {
    top: 20px;
  }
  #humberger span:nth-of-type(3) {
    top: 35px;
  }
  .header_right {
    display: none;
  }
  .header_left {
    margin-left: 30px;
    font-size: 24px;
  }
  /* top */
  #top {
    padding: 30%;
  }
  /* recruit */
  #recruit {
    padding: 80px 20px;
  }
  .recruit_wrap {
    padding: 0;
  }
  .title {
    font-size: 25px;
    padding-bottom: 8px;
  }
  table th {
    width: 30%;
  }
  /* contact */
  #contact {
    padding: 70px 25px 40px;
  }
  .contact_button {
    padding: 13px 100px;
  }
  .contact_message p {
    margin-bottom: 25px;
    line-height: 1.4;
  }
  .service_btn {
    margin: 0;
  }
    .service_button {
    margin: 20px 0 30px 0;
  }
  /* footer */
  #footer {
    padding: 15px 0;
  }
  .footer_wrap {
    display: inline;
  }
  .footer_left {
    text-align: center;
    font-size: 12.5px;
    margin-top: 10px;
  }
  .footer_right ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footer_right li {
    border: none;
    padding: 0;
    margin-bottom: 16px;
    font-size: 12.5px;
  }
  .first_list {
    margin-top: 20px;
  }
  .last_list {
    margin-bottom: 10px;
  }
}